<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Where is the centralized computer center located?</h3>
    <p>In the administrative block</p>

    <h3>Is the computer center available around the clock?</h3>
    <p>Yes, it is available 24/7</p>

    <h3>What is the first rule to be followed while using the library?</h3>
    <p>Write your name in the visitor's register every time.</p>

    <h3>What should visitors do with their ID-card when using the library?</h3>
    <p>Deposit your ID-card at the counter and collect it while leaving.</p>

    <h3>Where should visitors keep their bags and belongings while in the library?</h3>
    <p>Keep your bags and other belongings at the property counter near the entrance.</p>

    <h3>What is prohibited in the stack area of the library?</h3>
    <p>Do not carry any personal or issued books in the stack area.</p>

    <h3>Before entering the stack room, what should visitors do?</h3>
    <p>Seek permission of the library staff.</p>

    <h3>What are the expectations regarding noise and discipline in the reading hall?</h3>
    <p>Maintain absolute silence and strict discipline in the reading hall. Switch off your mobiles.</p>

    <h3>Is carrying eatables allowed in the library?</h3>
    <p>Do not carry eatables in the library.</p>

    <h3>What should visitors do in response to instructions from the librarian or staff at the counter?</h3>
    <p>Follow instructions given by the librarian or the staff at the counter.</p>

    <h3>How many books are issued to UG/PG students and SC/ST students, respectively?</h3>
    <p>Three books to UG/PG students and two books to SC/ST students (per two weeks) will be issued against their ID-Card.</p>

    <h3>What should users do at the time of issuing a book?</h3>
    <p>Check the book at the time of issuing. In case of any defect or damage please inform the library staff.</p>

    <h3>What is the deadline for returning an issued book?</h3>
    <p>Return the issued book on or before the due date.</p>

    <h3>What is the consequence of not renewing a book before the due date?</h3>
    <p>Renewal is compulsory before the due date (within 15 days from the issued date).</p>

    <h3>Which types of materials are not issued outside the library?</h3>
    <p>Books marked "REFERENCE" will not be issued outside the library.</p>

    <h3>What is the user's responsibility in case of a lost or damaged book?</h3>
    <p>Replacement of the book has to be made by the user in case of lost or damage of a book.</p>

</body>

</html>
